    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    span,
    ul,
    li,
    div,
    header,
    main,
    footer,
    article {
        margin: 0;
        padding: 0;
    }
    /* Themes */
    
    body {
        --bg-pri: #404040;
        --bg-sec: #2C2C2C;
        --bg-tir: #1B1B1B;
        --fg-txt: #FFFFFF;
    }
    /* Defaults */
    
    html,
    body {
        height: 100%;
    }
    
    body {
        font-family: Roboto, sans-serif;
        background-color: var(--bg-sec);
        color: var(--fg-txt);
        overflow-x: hidden;
    }
    
    body {
        display: flex;
        flex-direction: column;
    }
    
    header {
        background-color: var(--bg-tir);
        text-align: center;
    }
    
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
    }
    
    #interface {
        height: min-height;
        width: 600px;
        background-color: var(--bg-pri);
        border-radius: .5em;
        padding: 2em;
        margin: 2em;
        overflow: hidden;
        position: relative;
    }
    
    .menu-container {
        display: flex;
        flex-direction: column;
    }
    
    button {
        background-color: var(--bg-sec);
        height: 3em;
        border: none;
        border-radius: 1em;
        margin: 0.5em;
        color: var(--fg-txt);
        font-family: Roboto, sans-serif;
    }
    
    button:hover {
        background-color: var(--bg-tir);
    }
    
    #header {
        margin: 1.5em 0;
        text-align: center;
        z-index: 2;
    }
    
    #units {
        display: flex;
        flex-direction: column;
        font-style: Roboto, sans-serif;
        z-index: 2;
    }
    
    input[type=number] {
        margin: 0 0 1em 0;
        width: 97%;
        height: 2em;
        opacity: 0.5;
        border-radius: 1em;
        font-weight: bold;
        padding: 0 1.5%;
        margin: 0.5em 0 1.5em 0;
        z-index: 2;
    }
    
    label {
        margin: 0 0 0 0.5em;
    }
    
    #icon {
        position: absolute;
        left: 40%;
        bottom: -5%;
    }
    
    #icon img {
        width: 600px;
        transform: rotate(-35deg);
    }
    
    footer {
        text-align: center;
    }
    /* Utilities */
    
    .padded {
        padding: 1em;
    }